.viewText h1 {
	font-weight: 700;
	color: #fff;
	font-size: 35px;
	margin: 0;
}

.viewText p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
}

@media screen and (max-width: 400px) {
	.viewText {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		height: 600px;
	}
}
